<h2>Welcome To Your Addressbook</h2>

<div class="container">Click here to get the list of Address of your Friends
<br>
  <br>
<button (click)="getalladdressess()" class="btn btn-success">Address Book</button></div>

<h1>Your Address Book</h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container" *ngIf="responsemessage">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Action</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let listofaddress of address">

      <td>{{listofaddress.id}}</td>
      <td>{{listofaddress.name}}</td>
      <td>{{listofaddress.phone}}</td>
      <td><button (click)="deleteAddress(listofaddress.id)" class="btn btn-warning">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>



